<% if current_user.news_post_auth %>
  <p><%= link_to "新規追加", new_article_path, class: "btn" %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th><%=sort_order "created_at","公開日" %></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= l article.created_at, format: :short %></td>
        <% if current_user.news_post_auth || @article.employee == current_user %>
          <td><%= link_to "編集", edit_article_path(article) %></td>
          <td><%= link_to "削除", article_path(article), method: :delete, data: { confirm: '投稿を削除しますか？' }%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>